<Directory "{{ rpm_repository_path }}">
    Options +FollowSymLinks
    Order allow,deny
    allow from all
</Directory>

<Directory "{{ rpm_repository_path }}">
    Options +FollowSymLinks
    AllowOverride None
    Order allow,deny
    allow from all
</Directory>
